In [21]:
import numpy as np
import pandas as pd
import json
import matplotlib.pyplot as plt
from pandas.io.json import json_normalize

In [22]:
credits= pd.read_csv('/Users/linhdao/Data-Projects/Project2_supervise machine learning/Data Prep/credits.csv')
credits = credits.rename(columns={"id": "movie_id"}) 
#Renamed beacause we have id in side the crew and the cast columns



# Getting the CAST:
cast_1 = []
for i,r in enumerate(credits.cast): 
    j = eval(r)
    for k in j: 
        k['movie_id'] = credits['movie_id'][i]
    cast_1.append(j)

cast=[]
for i in cast_1:
    cast.extend(i)  #use extend instead of append because we want only 1 list, not 1ists inside the lis

cast = json_normalize(cast)

# GROUPING CASTS:

In [23]:
cast

,cast_id,character,credit_id,gender,id,movie_id,name,order,profile_path
0,14,Woody (voice),52fe4284c3a36847f8024f95,2,31,862,Tom Hanks,0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg
1,15,Buzz Lightyear (voice),52fe4284c3a36847f8024f99,2,12898,862,Tim Allen,1,/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg
2,16,Mr. Potato Head (voice),52fe4284c3a36847f8024f9d,2,7167,862,Don Rickles,2,/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg
3,17,Slinky Dog (voice),52fe4284c3a36847f8024fa1,2,12899,862,Jim Varney,3,/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg
4,18,Rex (voice),52fe4284c3a36847f8024fa5,2,12900,862,Wallace Shawn,4,/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg
5,19,Hamm (voice),52fe4284c3a36847f8024fa9,2,7907,862,John Ratzenberger,5,/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg
6,20,Bo Peep (voice),52fe4284c3a36847f8024fad,1,8873,862,Annie Potts,6,/eryXT84RL41jHSJcMy4kS3u9y6w.jpg
7,26,Andy (voice),52fe4284c3a36847f8024fc1,0,1116442,862,John Morris,7,/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg
8,22,Sid (voice),52fe4284c3a36847f8024fb1,2,12901,862,Erik von Detten,8,/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg
9,23,Mrs. Davis (voice),52fe4284c3a36847f8024fb5,1,12133,862,Laurie Metcalf,9,/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg
10,24,Sergeant (voice),52fe4284c3a36847f8024fb9,2,8655,862,R. Lee Ermey,10,/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg
11,25,Hannah (voice),52fe4284c3a36847f8024fbd,1,12903,862,Sarah Freeman,11,None
12,27,TV Announcer (voice),52fe4284c3a36847f8024fc5,2,37221,862,Penn Jillette,12,/zmAaXUdx12NRsssgHbk1T31j2x9.jpg
13,1,Alan Parrish,52fe44bfc3a36847f80a7c73,2,2157,8844,Robin Williams,0,/sojtJyIV3lkUeThD7A2oHNm8183.jpg
14,8,Samuel Alan Parrish / Van Pelt,52fe44bfc3a36847f80a7c99,2,8537,8844,Jonathan Hyde,1,/7il5D76vx6QVRVlpVvBPEC40MBi.jpg
15,2,Judy Sheperd,52fe44bfc3a36847f80a7c77,1,205,8844,Kirsten Dunst,2,/wBXvh6PJd0IUVNpvatPC1kzuHtm.jpg
16,24,Peter Shepherd,52fe44c0c3a36847f80a7ce7,0,145151,8844,Bradley Pierce,3,/j6iW0vVA23GQniAPSYI6mi4hiEW.jpg
17,10,Sarah Whittle,52fe44bfc3a36847f80a7c9d,1,5149,8844,Bonnie Hunt,4,/7spiVQwmr8siw5QCcvvdRG3c7Lf.jpg
18,25,Nora Shepherd,52fe44c0c3a36847f80a7ceb,1,10739,8844,Bebe Neuwirth,5,/xm58rpMRVDHS0IGttw1pTlqGwkN.jpg
19,26,Carl Bentley,52fe44c0c3a36847f80a7cef,2,58563,8844,David Alan Grier,6,/5tkt3qRZTco4sz604aTIarQ0m8W.jpg
20,11,Carol Anne Parrish,52fe44bfc3a36847f80a7ca1,1,1276,8844,Patricia Clarkson,7,/10ZSyaUqzUlKTd60HmeiGhlytZG.jpg
21,14,Alan Parrish (young),52fe44bfc3a36847f80a7cad,0,46530,8844,Adam Hann-Byrd,8,/hEoqDqtMO91hYWD5iDrDesnLDlt.jpg
22,13,Sarah Whittle (young),52fe44bfc3a36847f80a7ca9,1,56523,8844,Laura Bell Bundy,9,/8tAVDBRoZPjKfCbBDyh4iK9JNEp.jpg
23,31,Exterminator,52fe44c0c3a36847f80a7cff,2,51551,8844,James Handy,10,/vm0WQmuP8jEGgFTd3VCcJe7zpUi.jpg
24,12,Mrs. Thomas the Realtor,52fe44bfc3a36847f80a7ca5,1,56522,8844,Gillian Barber,11,/qoqPX15J5jh6Sy0A9JvvRJIuw64.jpg
25,28,Benjamin,52fe44c0c3a36847f80a7cf3,2,1000304,8844,Brandon Obray,12,None
26,29,Caleb,52fe44c0c3a36847f80a7cf7,0,188949,8844,Cyrus Thiedeke,13,None
27,30,Billy Jessup,52fe44c0c3a36847f80a7cfb,0,1076551,8844,Gary Joseph Thorup,14,None
28,32,Cop,5588053fc3a36838530063f5,0,1480246,8844,Leonard Zola,15,None
29,33,Bum,55935687925141645a002097,2,25024,8844,Lloyd Berry,16,/s7SVCOtvcuQ9wRQPZfUdahb5x88.jpg
...,...,...,...,...,...,...,...,...,...
562444,1008,Homer,559eb4ecc3a368081d002158,0,111636,111109,Perry Dizon,1,None
562445,1007,Crazy Woman/Virgin,559eb4d3c3a3680820001dbe,0,1204271,111109,Hazel Orencio,2,/jvAauEKA2N5Lb164SxqupNDAJ2X.jpg
562446,1005,Amang Tiburcio,52fe4af1c3a36847f81e9b2b,2,278923,111109,Joel Torre,3,/5PP5K8EgMhcRA3n1IfRhfcxDS5M.jpg
562447,1015,Ex-convict/Dindo,593ab9f5c3a36822f800d5af,0,1042953,111109,Bart Guingona,4,/fj2d05jly713XeV9eRis2VBUAjo.jpg
562448,1004,Philosopher,52fe4af1c3a36847f81e9b27,0,575774,111109,Soliman Cruz,5,/kPQMcYBcO2pCIPulc7VC16YFovE.jpg
562449,1014,Photographer,58fb45b992514163e300cc58,0,1184497,111109,Roeder,6,None
562450,1003,Ana/Call Center Woman,52fe4af1c3a36847f81e9b23,0,462483,111109,Angeli Bayani,7,/kFCD2eDPj5LKGxauPF2rchlP74h.jpg
562451,1016,Filmmaker/Butcher,593abab49251411ef800e348,0,1728582,111109,Dante Perez,8,None
562452,1006,Poet of the Rain,559eb4ca9251412dac001e20,0,1485780,111109,Betty Uy-Regala,9,None
562453,1013,Homer's mother,58fb45a4925141643c00c6ee,0,1801183,111109,Modesta,10,None
562454,6,Emily Shaw,52fe4776c3a368484e0c83a3,1,23764,67758,Erika Eleniak,0,/7ZdUGY78qpB2MkTzAQvYEYzncwN.jpg
562455,7,Det. Mark Winston,52fe4776c3a368484e0c83a7,2,2059,67758,Adam Baldwin,1,/vhZ8AD36h09mBLuyIXboglRLgIu.jpg
562456,8,Jayne Ferré,52fe4776c3a368484e0c83ab,1,46277,67758,Julie du Page,2,/gBLzn3Z2S7Hx7A0stZBi7mk9fpD.jpg
562457,10,Alex Tyler,52fe4776c3a368484e0c83b3,2,1736,67758,James Remar,3,/AeSuQlBclvWqztlpkf9nIhvvhsc.jpg
562458,11,Tony,52fe4776c3a368484e0c83b7,2,58646,67758,Damian Chapa,4,/e00LyDBIhDOFWgwfSU0wCTLL4ax.jpg
562459,12,Frank Bianci,57ed0c259251410c5b00eccb,2,54649,67758,Louis Mandylor,5,/4DCfloJ8CDsvchaKE0KdYW07obz.jpg
562460,13,Detective Stan,57ed0e5bc3a3685e36007370,2,55270,67758,Tom Wright,6,/AlBgY9VySrLBhVsOJXtUXuflOGG.jpg
562461,9,Kerry Shaw,52fe4776c3a368484e0c83af,2,169498,67758,Jeremy Lelliott,7,None
562462,14,Peter Quinn,57ed0e70c3a3683a990059d4,2,51656,67758,James Quattrochi,8,None
562463,15,Boyd,57ed0e829251416b58006a75,0,1177500,67758,Jason Widener,9,None
562464,16,Sammy Benetto,57ed0e90c3a3687dcf005d12,2,154762,67758,Joe Sabatino,10,None
562465,17,Steve,57ed0f43c3a3683a85005278,2,93930,67758,Kiko Ellsworth,11,/NIHqhiMtAboquWPg5hCu5o1Bax.jpg
562466,18,Fred,57ed0f4ec3a36839f700532b,2,81690,67758,Don Swayze,12,/2JmY7WUmuyvwflKST6nLH7pyd5e.jpg
562467,19,"Artie, Hitman #1",57ed0f5ac3a36839f7005330,2,37822,67758,Peter Dobson,13,/3laM5gryWnG2tfjE2jt0UuPTFlp.jpg
562468,20,Doorman,57ed10149251416b58006b06,0,1686379,67758,Darrell Dubovsky,14,None
562469,2,,52fe4ea59251416c7515d7d5,2,544742,227506,Iwan Mosschuchin,0,None
562470,3,,52fe4ea59251416c7515d7d9,1,1090923,227506,Nathalie Lissenko,1,None
562471,4,,52fe4ea59251416c7515d7dd,2,1136422,227506,Pavel Pavlov,2,None
562472,5,,52fe4ea59251416c7515d7e1,0,1261758,227506,Aleksandr Chabrov,3,None
562473,6,,52fe4ea59251416c7515d7e5,1,29199,227506,Vera Orlova,4,/n1NXVGNzNxtqsMWxLT1h8GO8Kpi.jpg

In [24]:
cast = cast[cast['order']<2] #Get the 2 main casts only

In [25]:
cast_name = pd.DataFrame(cast.name.value_counts())
# Create a dataframe to group the actors according to the popularity

In [26]:
cast_name.describe()

               name
count  30218.000000
mean       2.592362
std        4.675337
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max      104.000000

In [27]:
# 75% of the actors only appeared maximum 2 times as main casts, statistically means that only 25% of the data points
# actually make sense. However, as we think cast is an important factor effecting Revenue, we keep it.

In [28]:
cast_name.drop(cast_name[cast_name['name'] < 3].index, inplace = True)

In [29]:
group_labels = ['1', '2', '3']

In [30]:
bins = pd.cut(cast_name['name'],[2,40,70,104], labels=group_labels)

In [31]:
bins

John Wayne              3
Jackie Chan             3
Michael Caine           3
Robert De Niro          3
Gérard Depardieu        3
Nicolas Cage            2
Christopher Lee         2
Bette Davis             2
Cary Grant              2
Barbara Stanwyck        2
Jeff Bridges            2
Bruce Willis            2
James Stewart           2
Burt Lancaster          2
Marcello Mastroianni    2
Samuel L. Jackson       2
Paul Newman             2
Kirk Douglas            2
Burt Reynolds           2
Gary Cooper             2
Joan Crawford           2
Henry Fonda             2
Gene Hackman            2
Robert Mitchum          2
Akshay Kumar            2
James Mason             2
Meryl Streep            2
Robin Williams          2
Clint Eastwood          2
Spencer Tracy           2
                       ..
Nina Ruslanova          1
Jack Taylor             1
Andrey Krasko           1
Sayed Badreya           1
Sara Forestier          1
Shirley Booth           1
Hiroshi Mikami          1
Pollyanna McIntosh      1
Wilford Brimley         1
Song Seung-heon         1
Juri Ueno               1
Guillermo del Toro      1
Stephanie Jacobsen      1
Nat Wolff               1
Beryl Reid              1
John Archer             1
Kadeem Hardison         1
Sverrir Gudnason        1
Ralph Meeker            1
Mitsuki Tanimura        1
Jarkko Niemi            1
Paul Bartel             1
Allison Miller          1
Megan Ward              1
Giacomo Rossi-Stuart    1
Hiroshi Tamaki          1
Matias Varela           1
Miroslav Donutil        1
Hilmir Snær Guðnason    1
Alex Russell            1
Name: name, Length: 6252, dtype: category
Categories (3, object): [1 < 2 < 3]

In [32]:
cast_name['Group']=bins

In [33]:
cast_name.reset_index(inplace=True)

In [34]:
cast_name.rename(columns={'index':'name','name':'count'}, inplace=True)

In [35]:
cast_gr = pd.merge(cast_name,cast,on='name',how='inner') 
# Merging with cast data frame, the table now will have additaional column named 'Group'

In [36]:
cast_gr = cast_gr[['movie_id','Group', 'order']]

In [37]:
# creating table with movie_id as index
cast1=cast_gr.pivot_table(index='movie_id', columns='order', values='Group',aggfunc='last')

In [38]:
cast1.reset_index(inplace=True)
cast1

order  movie_id    0    1
0             3    1    1
1             5    1    2
2             6    1    1
3            11    1    1
4            12    1    1
5            13    2    1
6            14    1    1
7            15    1    1
8            16    1    2
9            17    1    1
10           18    2    1
11           19    1  NaN
12           20    1    1
13           22    2    1
14           24    1    1
15           25    1    1
16           26    1  NaN
17           28    1    1
18           33    2    2
19           38    1    1
20           55    1  NaN
21           58    2    1
22           59    1    1
23           62    1  NaN
24           63    2    1
25           64    1  NaN
26           65    1    1
27           66    2    2
28           67    1  NaN
29           68    1    3
...         ...  ...  ...
31859    449758  NaN    1
31860    450945  NaN    1
31861    451955    1    1
31862    452068  NaN    1
31863    452142    1    1
31864    452166  NaN    1
31865    452413  NaN    1
31866    453062  NaN    1
31867    455043  NaN    1
31868    455601  NaN    1
31869    455968    2    1
31870    456098    1    1
31871    456193  NaN    1
31872    457962    1    1
31873    458335  NaN    1
31874    458506  NaN    1
31875    458961  NaN    1
31876    459295  NaN    1
31877    459928  NaN    1
31878    459950  NaN    1
31879    460135  NaN    1
31880    460822  NaN    1
31881    460846    2    1
31882    461053  NaN    1
31883    461297    1    1
31884    461955  NaN    1
31885    463906  NaN    1
31886    464111  NaN    1
31887    464207  NaN    1
31888    467731  NaN    1

[31889 rows x 3 columns]

In [39]:
cast1.rename(columns={0:'Cast 1',1:'Cast 2'},inplace=True)
cast1["movie_id"]=cast1["movie_id"].astype(str)

In [40]:
cast1.to_csv('Cast_final.csv', index=False)