In [ ]:
import pandas as pd
import numpy as np
import json


from pandas.io.json import json_normalize

In [2]:
movies = pd.read_csv('/Users/linhdao/Data-Projects/Project2_supervise machine learning/movies_metadata.csv')

/anaconda3/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
genres = pd.read_csv('genres_final.csv')

In [4]:
box_office = pd.read_csv('/Users/linhdao/Data-Projects/Project2_supervise machine learning/Data Prep/box_office.csv')

In [5]:
cast = pd.read_csv('Cast_final.csv')

In [6]:
production = pd.read_csv('/Users/linhdao/Data-Projects/Project2_supervise machine learning/Data Prep/Productions_final.csv')

### Dropping columns in movies dataframe

In [7]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

#### Drop: 
- adult
- belongs_to_collection
- budget (available in box_office)
- genres (available in gernes)
- homepage
- imdb_id
- original_language
- original_title
- overview
- poster_path
- production_companies (available in production)
- production_countries 
- revenue (available in box_office)
- runtime
- spoken_languages
- status
- tagline
- title
- video

In [8]:
movies.drop(['adult',
'belongs_to_collection',
'budget',
'genres',
'homepage',
'original_language',
'original_title',
'overview',
'poster_path',
'production_companies',
'production_countries',
'revenue',
'runtime',
'spoken_languages',
'status',
'tagline',
'title',
'video'], axis=1, inplace = True)

In [9]:
movies.isnull().sum()

id               0
imdb_id         17
popularity       5
release_date    87
vote_average     6
vote_count       6
dtype: int64

In [10]:
movies.dropna(inplace=True)

In [11]:
movies.columns

Index(['id', 'imdb_id', 'popularity', 'release_date', 'vote_average',
       'vote_count'],
      dtype='object')

### Merging movie and other dataframes based on movie_id and imdb_id

In [12]:
# Rename id column to movie_id in order to merge with other data frames
movies.rename(columns = {'id':'movie_id'}, inplace = True)

#### Genres

In [13]:
genres['movie_id'] = genres['movie_id'].astype(str)

In [14]:
df = pd.merge(genres, movies,on ='movie_id', how='inner' )

#### Box office

In [15]:
box_office.drop(['Unnamed: 0'], axis=1, inplace =True)

In [16]:
box_office.columns

Index(['index', '0', '1'], dtype='object')

In [17]:
box_office.rename(columns= {'index':'imdb_id', '0':'revenue', '1':'budget'}, inplace=True)

In [18]:
df = pd.merge(df,box_office, on = 'imdb_id', how='inner')

#### Cast

In [20]:
cast['movie_id'] = cast['movie_id'].astype(str)

In [40]:
cast

      movie_id  Cast 1  Cast 2
0            3     1.0     1.0
1            5     1.0     2.0
2            6     1.0     1.0
3           11     1.0     1.0
4           12     1.0     1.0
5           13     2.0     1.0
6           14     1.0     1.0
7           15     1.0     1.0
8           16     1.0     2.0
9           17     1.0     1.0
10          18     2.0     1.0
11          19     1.0     NaN
12          20     1.0     1.0
13          22     2.0     1.0
14          24     1.0     1.0
15          25     1.0     1.0
16          26     1.0     NaN
17          28     1.0     1.0
18          33     2.0     2.0
19          38     1.0     1.0
20          55     1.0     NaN
21          58     2.0     1.0
22          59     1.0     1.0
23          62     1.0     NaN
24          63     2.0     1.0
25          64     1.0     NaN
26          65     1.0     1.0
27          66     2.0     2.0
28          67     1.0     NaN
29          68     1.0     3.0
...        ...     ...     ...
31859   449758     NaN     1.0
31860   450945     NaN     1.0
31861   451955     1.0     1.0
31862   452068     NaN     1.0
31863   452142     1.0     1.0
31864   452166     NaN     1.0
31865   452413     NaN     1.0
31866   453062     NaN     1.0
31867   455043     NaN     1.0
31868   455601     NaN     1.0
31869   455968     2.0     1.0
31870   456098     1.0     1.0
31871   456193     NaN     1.0
31872   457962     1.0     1.0
31873   458335     NaN     1.0
31874   458506     NaN     1.0
31875   458961     NaN     1.0
31876   459295     NaN     1.0
31877   459928     NaN     1.0
31878   459950     NaN     1.0
31879   460135     NaN     1.0
31880   460822     NaN     1.0
31881   460846     2.0     1.0
31882   461053     NaN     1.0
31883   461297     1.0     1.0
31884   461955     NaN     1.0
31885   463906     NaN     1.0
31886   464111     NaN     1.0
31887   464207     NaN     1.0
31888   467731     NaN     1.0

[31889 rows x 3 columns]

In [21]:
df = pd.merge(df, cast, on='movie_id', how='inner')

#### Production

In [29]:
production.drop(['Unnamed: 0'], axis=1, inplace =True)

In [31]:
production['movie_id'] = production['movie_id'].astype(str)

In [32]:
df = pd.merge(df, production, on = 'movie_id', how='inner')

In [38]:
df.shape

(40263, 31)

### Checking nan values again

In [35]:
df.isnull().sum()

movie_id              0
Crime                 0
Drama                 0
Comedy                0
Action                0
Thriller              0
Adventure             0
Science Fiction       0
Animation             0
Family                0
Romance               0
Mystery               0
Music                 0
Horror                0
Fantasy               0
Documentary           0
War                   0
Western               0
History               0
Foreign               0
TV Movie              0
imdb_id               0
popularity            0
release_date          0
vote_average          0
vote_count            0
revenue               0
budget                0
Cast 1             5010
Cast 2             7837
Production            0
dtype: int64

In [151]:
df1 = df.dropna()  # because we have a lot of data points

In [152]:
df1.shape

(27416, 31)

### Separating month and year from release_data column:

In [153]:
import datetime
from datetime import date

In [154]:
df1.release_date = pd.to_datetime(df1.release_date)

In [155]:
df1['Month'] = df1.release_date.dt.month

/anaconda3/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [156]:
df1['Year'] = df1.release_date.dt.year

/anaconda3/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

#### Changing revenue to Int

In [157]:
df1.revenue.value_counts()

$0              8256
$7,370,965        23
$40,031,879       19
$700,215          17
$15,946,321       16
$519,438          16
$8,144            16
$10,186,084       16
$3,435,245        16
$16,689,283       16
$674,918          16
$16,197,824       15
$7,379,806        15
$17,873,691       15
$4,540,345        15
$2,651,917        15
$514,913          15
$41,146,351       14
$26,768,563       14
$120,072,577      14
$5,810,330        13
$662,887          13
$460,997          13
$25,762,027       13
$15,456,717       13
$1,781,465        13
$7,115,988        13
$50,812,934       12
$1,199,877        12
$5,870,851        12
                ...
$9,697,739         1
$413,479           1
$80,767,884        1
$31,309            1
$323,748           1
$8,767,338         1
$35,649,012        1
$1,794,086         1
$6,715,067         1
$37,939,757        1
$269,755           1
$37,279,439        1
$5,442,820         1
$18,636,537        1
$64,851            1
$1,152,528         1
$10,555,619        1
$132,787           1
$11,124,511        1
$289,299           1
$18,332            1
$318,809           1
$84,618,532        1
$3,530             1
$231,976,425       1
$638,641           1
$117,471           1
$16,192,320        1
$144,192           1
$125,049,125       1
Name: revenue, Length: 8105, dtype: int64

In [158]:
df1.revenue = [int(i.replace('$','').replace(',','').replace('INR','')) for i in df1.revenue]

In [159]:
df1.revenue.dtypes

dtype('int64')

#### Changing budget to int
- The problem with the budget column is there are many different currency. 
- To simplify, we only consider the budget information with dollar

In [146]:
df1.budget.value_counts()

$0                11164
$25,000,000         544
$10,000,000         511
$20,000,000         499
$30,000,000         479
$15,000,000         455
$40,000,000         438
$35,000,000         386
$5,000,000          344
$60,000,000         318
$12,000,000         314
$50,000,000         309
$6,000,000          287
$18,000,000         233
$8,000,000          230
$3,000,000          225
$4,000,000          223
$2,000,000          206
$7,000,000          204
$11,000,000         202
$70,000,000         201
$80,000,000         199
$13,000,000         176
$45,000,000         174
$100,000,000        168
$17,000,000         155
$22,000,000         150
$14,000,000         150
$16,000,000         145
$75,000,000         143
                  ...
DEM8,400,000          1
$779,000              1
$1,138,000            1
$1,171,750            1
GBP30,000             1
$4,240,000            1
INR400,000,000        1
$33,500,000           1
$1,257,000            1
$11,715,578           1
$3,705,000            1
$1,375,000            1
$239,000              1
EUR5,340,000          1
$2,258,000            1
$86,587               1
$19,100,000           1
$1,252,000            1
$839,000              1
$2,467,000            1
EUR4,700,000          1
$3,550,000            1
$385,000              1
$2,926,000            1
$853,000              1
$355,000              1
$3,520,000            1
$2,375,000            1
SEK32,000,000         1
CAD800,000            1
Name: budget, Length: 1416, dtype: int64

In [160]:
import re
df1.budget1 = [re.findall('\d+',i) for i in df1.budget.str.replace('$','').str.replace(',','')]

/anaconda3/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

In [161]:
df1.budget1 = [int(i[0]) for i in df1.budget]

ValueError: invalid literal for int() with base 10: '$'

In [149]:
# We need to locate the error:

In [162]:
df1['Error'] = [re.findall('\d+',i) for i in df1.budget.str.replace('$','').str.replace(',','')]

/anaconda3/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [163]:
df1['Error'] = [len(i) for i in df1.Error]  # finding the empty lists

/anaconda3/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [164]:
df1['Error'].idxmin() # locating

26268

In [165]:
# Locating the error, filling the empty list and changing data in budget column into integer
df1.loc[26268]

movie_id                                   64639
Crime                                          0
Drama                                          1
Comedy                                         0
Action                                         0
Thriller                                       1
Adventure                                      0
Science Fiction                                0
Animation                                      0
Family                                         0
Romance                                        0
Mystery                                        0
Music                                          0
Horror                                         0
Fantasy                                        0
Documentary                                    0
War                                            0
Western                                        0
History                                        0
Foreign                                        0
TV Movie                                       0
imdb_id                                tt0999913
popularity                               8.04842
release_date                 2011-09-16 00:00:00
vote_average                                 5.5
vote_count                                   147
revenue                                 11168712
budget              Mark Jenkin Discusses "Bait"
Cast 1                                         1
Cast 2                                         1
Production                                     1
Month                                          9
Year                                        2011
Error                                          0
Name: 26268, dtype: object

In [166]:
df1.loc[26268, 'budget'] = '$25,000,000'

In [167]:
df1.budget = [re.findall('\d+',i) for i in df1.budget.str.replace('$','').str.replace(',','')]
df1.budget = [int(i[0]) for i in df1.budget]

In [120]:
# Dropping rows where revenue and budget = 0

In [168]:
df2 = df1.drop(df1[(df1.revenue == 0) | (df1.budget == 0)].index)

In [171]:
df2.to_csv('Final.csv', index = False)